In [2]:
import yfinance as yf
import pandas as pd
import numpy as np

In [3]:
tickers = ['XLK', 'XLV', 'XLF', 'XLE', 'XLP', 'XLI', 'XLC', 'XLB', 'XLU', 'XLRE', 'XLY']
start_date = '2015-01-01'
end_date = '2025-01-01'

# Periodi eventi (Pandemia) (Guerra)
covid_start = pd.Timestamp('2020-01-10')
covid_end   = pd.Timestamp('2023-05-05')

war_start   = pd.Timestamp('2022-02-24')
war_end     = pd.Timestamp.today().normalize()  # fino ad oggi

In [4]:
war_end

Timestamp('2025-11-15 00:00:00')

In [8]:
dats = yf.download(tickers, period='10y', auto_adjust=True, group_by='column')

[*********************100%***********************]  11 of 11 completed

In [15]:
dats

Price           Close                                                \
Ticker            XLB         XLC        XLE        XLF         XLI
Date
2015-11-16  36.733620         NaN  45.398010  16.280190   45.278175
2015-11-17  36.692783         NaN  44.898628  16.246565   45.186298
2015-11-18  37.346249         NaN  45.637714  16.535721   45.812729
2015-11-19  37.305405         NaN  45.025135  16.562620   46.013191
2015-11-20  37.191048         NaN  44.545715  16.589518   46.247044
...               ...         ...        ...        ...         ...
2025-11-10  86.629997  113.279999  90.349998  52.970001  154.199997
2025-11-11  87.529999  114.199997  91.529999  53.209999  154.240005
2025-11-12  88.150002  113.540001  90.250000  53.669998  154.389999
2025-11-13  87.570000  111.930000  90.480003  52.980000  152.000000
2025-11-14  86.769997  111.330002  92.019997  52.450001  152.009995

Price                                                                ...  \
Ticker             XLK        XLP       XLRE        XLU         XLV  ...
Date                                                                 ...
2015-11-16   38.303841  37.273273  20.935026  31.364584   59.638355  ...
2015-11-17   38.312744  37.257957  21.261139  30.799072   59.892345  ...
2015-11-18   38.891479  37.771282  21.512814  30.994823   61.060730  ...
2015-11-19   39.069565  37.870872  21.629791  31.328314   60.036282  ...
2015-11-20   39.354469  37.602734  21.807028  31.458849   60.552715  ...
...                ...        ...        ...        ...         ...  ...
2025-11-10  295.529999  76.430000  41.240002  89.660004  147.279999  ...
2025-11-11  293.010010  77.430000  41.700001  89.709999  150.679993  ...
2025-11-12  293.920013  77.320000  41.369999  89.919998  152.820007  ...
2025-11-13  286.589996  77.320000  40.830002  88.680000  152.740005  ...
2025-11-14  288.149994  77.260002  40.950001  88.760002  151.830002  ...

Price          Volume                                                    \
Ticker            XLC       XLE       XLF       XLI       XLK       XLP
Date
2015-11-16        NaN  17363100  53560564  13303900   9079200   9734900
2015-11-17        NaN  15228900  46013180  15564400   9394400   8056200
2015-11-18        NaN  20951500  83572836  10434800  10166800   7826200
2015-11-19        NaN  18912500  35613076  12257400   9367500   7421100
2015-11-20        NaN  14214000  44189330   9014100   7288200   5487200
...               ...       ...       ...       ...       ...       ...
2025-11-10  4724100.0  15632300  42010600  10900400   9143200  16805900
2025-11-11  3841900.0  19376400  29995800   8652400   7435800  19801200
2025-11-12  4563800.0  14931600  46052700   9583300   6589600  10978200
2025-11-13  6354300.0  16121900  50455300  15475400  11192900  15370800
2025-11-14  4859800.0  17089700  46149000  13433100  13710800  13138200

Price
Ticker         XLRE       XLU       XLV      XLY
Date
2015-11-16     4200   9175600  12959800  7383200
2015-11-17    25700  13494000   7882300  7452300
2015-11-18    28600  15462500  12816300  7137600
2015-11-19     3500  12364800  11128000  5685200
2015-11-20      600  12520000   9224500  5564900
...             ...       ...       ...      ...
2025-11-10  6823600   8973600  12305900  5217400
2025-11-11  5743700   7217700  12659500  6387700
2025-11-12  5801500   7509200  17847500  4657100
2025-11-13  8032500  10337700  21807600  7634200
2025-11-14  6434600  10084100  15467900  7331100

[2515 rows x 55 columns]

In [16]:
if isinstance(dats.columns, pd.MultiIndex):
    print('primo if')
    if 'Close' in dats.columns.get_level_values(0):
        print('siamo qua')
        close = dats['Close'].copy()

primo if
siamo qua

In [17]:
close

Ticker,XLB,XLC,XLE,XLF,XLI,XLK,XLP,XLRE,XLU,XLV,XLY
Date,,,,,,,,,,,
2015-11-16,36.733620,NaN,45.398010,16.280190,45.278175,38.303841,37.273273,20.935026,31.364584,59.638355,70.491058
2015-11-17,36.692783,NaN,44.898628,16.246565,45.186298,38.312744,37.257957,21.261139,30.799072,59.892345,70.625435
2015-11-18,37.346249,NaN,45.637714,16.535721,45.812729,38.891479,37.771282,21.512814,30.994823,61.060730,71.835098
2015-11-19,37.305405,NaN,45.025135,16.562620,46.013191,39.069565,37.870872,21.629791,31.328314,60.036282,71.924713
2015-11-20,37.191048,NaN,44.545715,16.589518,46.247044,39.354469,37.602734,21.807028,31.458849,60.552715,72.784904
...,...,...,...,...,...,...,...,...,...,...,...
2025-11-10,86.629997,113.279999,90.349998,52.970001,154.199997,295.529999,76.430000,41.240002,89.660004,147.279999,238.960007
2025-11-11,87.529999,114.199997,91.529999,53.209999,154.240005,293.010010,77.430000,41.700001,89.709999,150.679993,239.550003
2025-11-12,88.150002,113.540001,90.250000,53.669998,154.389999,293.920013,77.320000,41.369999,89.919998,152.820007,237.940002
2025-11-13,87.570000,111.930000,90.480003,52.980000,152.000000,286.589996,77.320000,40.830002,88.680000,152.740005,232.000000
2025-11-14,86.769997,111.330002,92.019997,52.450001,152.009995,288.149994,77.260002,40.950001,88.760002,151.830002,230.889999

In [21]:

_open = dats['Open'] if isinstance(dats.columns, pd.MultiIndex) else dats[['Open']]
_close = dats['Close'] if isinstance(dats.columns, pd.MultiIndex) else dats[['Close']]

Esempio colonne Open/close (testa):
Ticker            XLB  XLC        XLE        XLF        XLI        XLK  \
Date
2015-11-16  36.341533  NaN  43.873201  16.038106  44.467998  37.662771
2015-11-17  36.798974  NaN  45.278166  16.347434  45.336641  38.383976
2015-11-18  36.823467  NaN  45.211567  16.340709  45.228066  38.490811
2015-11-19  37.256396  NaN  45.371378  16.542447  45.704155  38.927105
2015-11-20  37.395259  NaN  45.038447  16.609691  46.196931  39.229818

Ticker            XLP       XLRE        XLU        XLV        XLY
Date
2015-11-16  36.522442  20.935026  30.900568  58.774764  69.371015
2015-11-17  37.372878  21.268228  31.350093  59.756884  70.840481
2015-11-18  37.365223  21.013010  30.820816  59.926209  70.822582
2015-11-19  37.794259  21.558897  31.067305  60.671273  71.888878
2015-11-20  38.039440  21.771580  31.379096  60.349520  72.471287

Ticker            XLB  XLC        XLE        XLF        XLI        XLK  \
Date
2015-11-16  36.733620  NaN  45.398010  16.280190  45.278175  38.303841
2015-11-17  36.692783  NaN  44.898628  16.246565  45.186298  38.312744
2015-11-18  37.346249  NaN  45.637714  16.535721  45.812729  38.891479
2015-11-19  37.305405  NaN  45.025135  16.562620  46.013191  39.069565
2015-11-20  37.191048  NaN  44.545715  16.589518  46.247044  39.354469

Ticker            XLP       XLRE        XLU        XLV        XLY
Date
2015-11-16  37.273273  20.935026  31.364584  59.638355  70.491058
2015-11-17  37.257957  21.261139  30.799072  59.892345  70.625435
2015-11-18  37.771282  21.512814  30.994823  61.060730  71.835098
2015-11-19  37.870872  21.629791  31.328314  60.036282  71.924713
2015-11-20  37.602734  21.807028  31.458849  60.552715  72.784904

In [62]:
px=close

In [59]:
def log_returns(px: pd.DataFrame) -> pd.DataFrame:
    px = px.sort_index()
    rets = np.log(px / px.shift(1))
    return rets.dropna(how='all')

In [60]:
rets = log_returns(px)

In [61]:
print(rets)

Ticker           XLB       XLC       XLE       XLF       XLI       XLK  \
Date
2015-11-17 -0.001112       NaN -0.011061 -0.002068 -0.002031  0.000232
2015-11-18  0.017652       NaN  0.016327  0.017641  0.013768  0.014993
2015-11-19 -0.001094       NaN -0.013514  0.001625  0.004366  0.004569
2015-11-20 -0.003070       NaN -0.010705  0.001623  0.005069  0.007266
2015-11-23  0.001317       NaN  0.007149 -0.004062 -0.005069 -0.005900
...              ...       ...       ...       ...       ...       ...
2025-11-10  0.009394  0.010382  0.009006  0.003593  0.005658  0.025254
2025-11-11  0.010335  0.008089  0.012976  0.004521  0.000259 -0.008564
2025-11-12  0.007058 -0.005796 -0.014083  0.008608  0.000972  0.003101
2025-11-13 -0.006601 -0.014282  0.002545 -0.012940 -0.015601 -0.025255
2025-11-14 -0.009178 -0.005375  0.016877 -0.010054  0.000066  0.005429

Ticker           XLP      XLRE       XLU       XLV       XLY
Date
2015-11-17 -0.000411  0.015457 -0.018195  0.004250  0.001904
2015-11-18  0.013684  0.011768  0.006336  0.019320  0.016983
2015-11-19  0.002633  0.005423  0.010702 -0.016920  0.001247
2015-11-20 -0.007106  0.008161  0.004158  0.008565  0.011889
2015-11-23  0.008723  0.005188 -0.009261 -0.002519  0.003686
...              ...       ...       ...       ...       ...
2025-11-10 -0.003657 -0.000727 -0.000335  0.007770  0.013058
2025-11-11  0.012999  0.011092  0.000557  0.022823  0.002466
2025-11-12 -0.001422 -0.007945  0.002338  0.014102 -0.006744
2025-11-13  0.000000 -0.013139 -0.013886 -0.000524 -0.025281
2025-11-14 -0.000776  0.002935  0.000902 -0.005976 -0.004796

[2514 rows x 11 columns]

In [41]:
def annualized_volatility(rets: pd.DataFrame, periods_per_year = 252) -> pd.Series:
    return rets.std(skipna=True) * np.sqrt(periods_per_year)

In [43]:
vol = annualized_volatility(rets)
print(vol)

Ticker
XLB     0.208484
XLC     0.227598
XLE     0.300740
XLF     0.224312
XLI     0.199397
XLK     0.242300
XLP     0.147207
XLRE    0.207790
XLU     0.192080
XLV     0.167124
XLY     0.220327
dtype: float64

In [44]:
def drawdown_series(px: pd.DataFrame) -> pd.DataFrame:
    cummax = px.cummax()
    dd = px / cummax - 1.0
    return dd

In [45]:
dd = drawdown_series(px)

In [46]:
print(dd)

Ticker           XLB       XLC       XLE       XLF       XLI       XLK  \
Date
2015-11-16  0.000000       NaN  0.000000  0.000000  0.000000  0.000000
2015-11-17 -0.001112       NaN -0.011000 -0.002065 -0.002029  0.000000
2015-11-18  0.000000       NaN  0.000000  0.000000  0.000000  0.000000
2015-11-19 -0.001094       NaN -0.013423  0.000000  0.000000  0.000000
2015-11-20 -0.004156       NaN -0.023928  0.000000  0.000000  0.000000
...              ...       ...       ...       ...       ...       ...
2025-11-10 -0.094951 -0.048027 -0.040245 -0.021430 -0.010206 -0.028277
2025-11-11 -0.085548 -0.040296 -0.027710 -0.016996 -0.009949 -0.036563
2025-11-12 -0.079071 -0.045842 -0.041307 -0.008498 -0.008986 -0.033571
2025-11-13 -0.085130 -0.059372 -0.038864 -0.021245 -0.024328 -0.057673
2025-11-14 -0.093488 -0.064414 -0.022505 -0.031036 -0.024263 -0.052543

Ticker           XLP      XLRE       XLU       XLV       XLY
Date
2015-11-16  0.000000  0.000000  0.000000  0.000000  0.000000
2015-11-17 -0.000411  0.000000 -0.018030  0.000000  0.000000
2015-11-18  0.000000  0.000000 -0.011789  0.000000  0.000000
2015-11-19  0.000000  0.000000 -0.001156 -0.016778  0.000000
2015-11-20 -0.007080  0.000000  0.000000 -0.008320  0.000000
...              ...       ...       ...       ...       ...
2025-11-10 -0.075289 -0.096381 -0.034876 -0.043056 -0.013296
2025-11-11 -0.063190 -0.086301 -0.034338 -0.020965 -0.010860
2025-11-12 -0.064521 -0.093532 -0.032078 -0.007060 -0.017508
2025-11-13 -0.064521 -0.105364 -0.045425 -0.007580 -0.042035
2025-11-14 -0.065247 -0.102735 -0.044564 -0.013493 -0.046618

[2515 rows x 11 columns]

In [50]:
def max_drawdown(px: pd.DataFrame) -> pd.Series:
    return drawdown_series(px).min()

In [52]:
max_dd = max_drawdown(px)
print(max_dd)

Ticker
XLB    -0.372742
XLC    -0.466536
XLE    -0.668130
XLF    -0.428625
XLI    -0.423341
XLK    -0.335591
XLP    -0.245123
XLRE   -0.388248
XLU    -0.360668
XLV    -0.284043
XLY    -0.396696
dtype: float64

In [73]:
def rolling_average_pairwise_corr( rets : pd.DataFrame, window: int = 63) -> pd.Series:
    """
    Market Shift Index: per ogni data calcola la media delle correlazioni
    pairwise tra settori sulla finestra rolling. Valori alti => mercato più
    'in sincrono' (rischio sistemico maggiore).
    """
    ret = rets.dropna(how='all') #elimina celle Nan
    vals = []
    idxs = []
    arr = rets.values
    cols = rets.columns
    for i in range(window, len(rets) + 1): #gestione delle finestre (1-63 giorni)(2-64 giorni)
        sub = arr[i - window:i, :]
        # ignora colonne completamente NaN nella finestra
        valid_cols = ~np.all(np.isnan(sub), axis=0)
        sub2 = sub[:, valid_cols]
        if sub2.shape[1] < 2: # check che ci sia più di una colonna valida
            vals.append(np.nan)
            idxs.append(rets.index[i - 1])
            continue
        # normalizziamo rimuovendo righe completamente nan
        mask_rows = ~np.all(np.isnan(sub2), axis=1)
        sub3 = sub2[mask_rows]
        if sub3.shape[0] < 2: # conto delle righe rimanenti, almeno 2
            vals.append(np.nan)
            idxs.append(rets.index[i - 1])
            continue
        corr = np.corrcoef(sub3, rowvar=False) #calcolo matrice
        # media off-diagonal
        n = corr.shape[0]
        off_diag = corr[np.triu_indices(n, k=1)]
        vals.append(np.nanmean(off_diag))
        idxs.append(rets.index[i - 1]) # salavataggio data con Market Shift Index
    return pd.Series(vals, index=pd.DatetimeIndex(idxs), name='market_shift_index')

In [113]:
returns = log_returns(px)
vol_ann = annualized_volatility(returns)
dd_series = drawdown_series(px)
dd_max = max_drawdown(px)
msi_full = rolling_average_pairwise_corr(returns, window=63)

In [116]:
print(dd_series.columns)
print(returns.columns)

Index(['XLB', 'XLC', 'XLE', 'XLF', 'XLI', 'XLK', 'XLP', 'XLRE', 'XLU', 'XLV',
       'XLY'],
      dtype='object', name='Ticker')
Index(['XLB', 'XLC', 'XLE', 'XLF', 'XLI', 'XLK', 'XLP', 'XLRE', 'XLU', 'XLV',
       'XLY'],
      dtype='object', name='Ticker')

In [118]:
print("Volatilità annualizzata (prime 5):")
print(vol_ann.sort_values(ascending=False).head(), "\n")   # Series qundi non serve il by

print("Max Drawdown (prime 5):")
print(dd_max.sort_values(ascending=False).head(), "\n")   # Series qundi non serve il by

print("Market Shift Index (prime 5):")
print(msi_full.sort_index(ascending=False).head(), "\n")   # Series qundi non serve il by

print("Drawdown (prime 5):")
print(dd_series.sort_values(by="XLB", ascending=False).head(), "\n")  #Dataframe quindi serve nominare la colonna

print("Rendimenti gironalieri (prime 5):")
print(returns.sort_values(by= "XLB", ascending=True).head(), "\n")   #Dataframe quindi serve nominare la colonna

Volatilità annualizzata (prime 5):
Ticker
XLE    0.300740
XLK    0.242300
XLC    0.227598
XLF    0.224312
XLY    0.220327
dtype: float64

Max Drawdown (prime 5):
Ticker
XLP   -0.245123
XLV   -0.284043
XLK   -0.335591
XLU   -0.360668
XLB   -0.372742
dtype: float64

Market Shift Index (prime 5):
2025-11-14    0.334370
2025-11-13    0.337035
2025-11-12    0.321110
2025-11-11    0.325592
2025-11-10    0.327131
Name: market_shift_index, dtype: float64

Drawdown (prime 5):
Ticker      XLB  XLC       XLE       XLF       XLI       XLK       XLP  \
Date
2015-11-16  0.0  NaN  0.000000  0.000000  0.000000  0.000000  0.000000
2017-10-03  0.0  NaN -0.093445  0.000000  0.000000  0.000000 -0.045925
2017-10-26  0.0  NaN -0.108954 -0.000373 -0.009183 -0.003273 -0.052647
2017-10-24  0.0  NaN -0.104579  0.000000 -0.000685 -0.001964 -0.050701
2017-10-20  0.0  NaN -0.101663  0.000000  0.000000  0.000000 -0.046633

Ticker          XLRE       XLU       XLV       XLY
Date
2015-11-16  0.000000  0.000000  0.000000  0.000000
2017-10-03 -0.034260 -0.043630 -0.006192 -0.012372
2017-10-26 -0.033358 -0.012587 -0.020506 -0.009103
2017-10-24 -0.025538 -0.008435 -0.009180 -0.008776
2017-10-20 -0.015613 -0.009879  0.000000 -0.004417

Rendimenti gironalieri (prime 5):
Ticker           XLB       XLC       XLE       XLF       XLI       XLK  \
Date
2020-03-16 -0.116628 -0.119679 -0.146260 -0.147448 -0.120408 -0.148662
2020-03-12 -0.101233 -0.098566 -0.133234 -0.114450 -0.109258 -0.102703
2020-03-09 -0.098266 -0.068964 -0.224910 -0.113438 -0.096733 -0.078956
2020-06-11 -0.080399 -0.047147 -0.098955 -0.085317 -0.072827 -0.059053
2020-03-18 -0.066072 -0.033773 -0.154984 -0.088704 -0.076523 -0.038406

Ticker           XLP      XLRE       XLU       XLV       XLY
Date
2020-03-16 -0.070243 -0.174367 -0.120561 -0.103818 -0.135460
2020-03-12 -0.098668 -0.089806 -0.106402 -0.077590 -0.106533
2020-03-09 -0.044525 -0.073270 -0.055923 -0.053381 -0.065044
2020-06-11 -0.038651 -0.063813 -0.039829 -0.057216 -0.053800
2020-03-18 -0.026026 -0.072838 -0.044507 -0.033723 -0.059164

In [132]:
def slice_period(px,start,end) -> pd.DataFrame:   #Funzione per prendere un periodo tra due date
    if end is None:
        return px.loc[px.index >= start]
    return px.loc[(px.index >= start) & (px.index <= end)]

In [133]:
# COVID

prices_covid = slice_period(px,start,end)
returns_covid = log_returns(prices_covid)
msi_covid = rolling_average_pairwise_corr(returns_covid, window=63)
dd_covid = max_drawdown(prices_covid)
vol_covid = annualized_volatility(returns_covid)

In [155]:
print("COVID (2020-01-10 → 2023-05-05) — Volatilità ann. (top 5):")
print(vol_covid.sort_values(ascending=False).head(), "\n")
print("COVID — Max Drawdown (top 5 drawdown più profondi):")
print(dd_covid.sort_values().head(), "\n")
print("COVID - Market Shift Index (prime 5):")
print(msi_covid.sort_index(ascending=False).head(), "\n")
print("COVID - (2020-01-10 → 2023-05-05) - Rendimenti gironalieri (prime 5):")
print(returns_covid.head(), "\n")
print("COVID - (2020-01-10 → 2023-05-05) - Prezzi (prime 5):")
print(prices_covid.sort_values, "\n")

COVID (2020-01-10 → 2023-05-05) — Volatilità ann. (top 5):
Ticker
XLE     0.143834
XLK     0.135078
XLRE    0.116894
XLB     0.116598
XLC     0.116287
dtype: float64

COVID — Max Drawdown (top 5 drawdown più profondi):
Ticker
XLB    -0.021582
XLE    -0.019057
XLF    -0.017696
XLK    -0.011243
XLRE   -0.010906
dtype: float64

COVID - Market Shift Index (prime 5):
Series([], Name: market_shift_index, dtype: object)

COVID - (2020-01-10 → 2023-05-05) - Rendimenti gironalieri (prime 5):
Ticker           XLB       XLC       XLE       XLF       XLI       XLK  \
Date
2020-01-03 -0.016277 -0.006471 -0.002976 -0.010675 -0.001929 -0.011307
2020-01-06 -0.004363  0.013267  0.007751 -0.000651  0.000362  0.002380
2020-01-07 -0.001178  0.001281 -0.002632 -0.006529 -0.002053 -0.000432
2020-01-08  0.003530  0.007104 -0.016609  0.006529  0.003379  0.010644
2020-01-09  0.003684  0.005250  0.007342  0.006164  0.004209  0.011272

Ticker           XLP      XLRE       XLU       XLV       XLY
Date
2020-01-03 -0.001602  0.007300  0.002035 -0.008753 -0.008546
2020-01-06  0.002082  0.000259  0.000938  0.006204  0.002778
2020-01-07 -0.007708 -0.010966 -0.001407 -0.001965 -0.001586
2020-01-08  0.003701  0.004976 -0.000469  0.006471  0.003012
2020-01-09  0.007042 -0.000262  0.005464  0.004290  0.005288

COVID - (2020-01-10 → 2023-05-05) - Prezzi (prime 5):
<bound method DataFrame.sort_values of Ticker            XLB        XLC        XLE        XLF        XLI        XLK  \
Date
2020-01-02  54.046116  51.380817  47.418175  27.882179  75.619812  88.833031
2020-01-03  53.173550  51.049397  47.277275  27.586130  75.474060  87.834274
2020-01-06  52.942043  51.731178  47.645153  27.568186  75.501411  88.043564
2020-01-07  52.879719  51.797478  47.519920  27.388767  75.346542  88.005501
2020-01-08  53.066700  52.166782  46.737190  27.568186  75.601585  88.947205
2020-01-09  53.262585  52.441395  47.081593  27.738638  75.920441  89.955467
2020-01-10  53.048889  52.233074  46.815460  27.532305  75.382957  89.746185

Ticker            XLP       XLRE        XLU        XLV         XLY
Date
2020-01-02  53.715714  31.564329  53.293392  93.080254  120.790970
2020-01-03  53.629749  31.795588  53.401962  92.269112  119.763039
2020-01-06  53.741505  31.803835  53.452076  92.843300  120.096169
2020-01-07  53.328835  31.456974  53.376907  92.661011  119.905815
2020-01-08  53.526573  31.613894  53.351856  93.262543  120.267487
2020-01-09  53.904854  31.605621  53.644173  93.663544  120.905182
2020-01-10  53.870472  31.911200  53.786160  93.690865  120.248451  >